body {
  background: url('/static/images/noise.jpg');
  font: 14px Helvetica, serif;
}



ul {
   list-style-type: none;
}

.movie {
  font-style: italic;
  margin-left: 12px;
  margin-bottom: 10px;
}

td:first-child {
  width: 50px;
}
