		<!DOCTYPE html>
		<html lang="en">
		<head>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
			<title> movie quotes</title>
			 <!-- Bootstrap -->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
		    <!-- Optional theme -->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
			<link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrapValidator.min.css">
		</head>

		<body>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		    <!-- Compiled and minified Bootstrap JavaScript -->
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		    <script src="/static/js/moviequotes.js"></script>
		    <script src="/static/js/bootstrapValidator.min.js"></script>


             <!-- navigation bar -->
		    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#">MovieQuotes</a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li><a id="add-movie-quote" class="hidden" data-toggle="modal" data-target="#Insert-Quote-Modal" href="#">Add Quote</a></li>
		           
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li><a id="toggle-edit" class="hidden" href="#">Edit</a></li>
		            <li><a id="Sign-up" data-toggle="modal" data-target="#modal-register" href="#">Sign Up</a></li>
		            <li><a id="Log-In" data-toggle="modal" data-target="#modal-login" href="#">Log In</a></li>
		            <li><a id="pser" class="hidden"  href="#"></a></li>
		             <li><a id="logout" class="hidden"  href="/logout">Logout</a></li>
		          </ul>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>

           <div class="user hidden">{{user}}</div>


<div class="container">
<div class="table-wrapper">
<table class="table table-striped">
  <thead>
    <tr>
     
      <th>Quote</th>
      <th>Movie</th>
      <th class="hidden edit-actions">Edits</th>

    </tr>
  </thead>
  <tbody>
   {%if moviequotes%}
{% for movie_quote in moviequotes %}
<tr>
<td><b>{{movie_quote.quote}}</b></td>
<td><b>{{movie_quote.movie}}</b></td>
<td class="hidden edit-actions">
	<!-- Indicates a successful or positive action -->
<button data-toggle="modal" data-target="#Insert-Quote-Modal" type="button" class="edit-movie-quote btn btn-success btn-xs"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
<div class="hidden entity-key">{{movie_quote.key.urlsafe()}}</div>
<div class="hidden quote">{{movie_quote.quote}}</div>
<div class="hidden movie">{{movie_quote.movie}}</div>


</button>

<!-- Indicates a dangerous or potentially negative action -->
<button data-toggle="modal" data-target="#Delete-Quote-Modal" type="button" class="del-movie-quote btn btn-danger btn-xs"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<div class="hidden entity-key-del">{{movie_quote.key.urlsafe()}}</div>
</button>

</td>
</tr>
{%endfor%}
{%endif%}
    
  </tbody>
</table>
</div>
</div>




	<!-- Modal -->
		<div class="modal fade" id="Insert-Quote-Modal" tabindex="-1" role="dialog" aria-labelledby="ADD-QUOTE" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    <form action="/addquote" method="post" class="form-horizontal" role="form">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add Quote</h4>
		      </div>
		      <div class="modal-body">
		      <input type="text" name="entity-key" class="hidden">
		  <div class="form-group">
		    <label for="Quote" class="col-sm-2 control-label">Quote</label>
		    <div class="col-sm-10">
		      <input type="text" name="quote" class="form-control" id="Quote" placeholder="Quote Here">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="Movie" class="col-sm-2 control-label">Movie </label>
		    <div class="col-sm-10">
		      <input type="text" name="movie" class="form-control" id="Movie" placeholder="Movie Title Here">
		    </div>  
	      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Done</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

<div class="modal fade" id="Delete-Quote-Modal" tabindex="-1" role="dialog" aria-labelledby="DEL-QUOTE" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    <form action="/delquote" method="post" class="form-horizontal" role="form">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Quote</h4>
		      </div>
		      <div class="modal-body">
		       <input type="text" name="entity-key-del" class="hidden">
		      <p> Are You Sure You Want To Delete This Quote ?</p>
		      
	         </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn  btn-danger btn-primary">Delete</button>
	      </div>
	      </form>
	    </div>
	    </div>
	  </div>

<!---sign up modal-->
<div class="modal fade in" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true"  >
        	<div class="modal-dialog">
        		<div class="modal-content">
        			
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">Login to our site</h3>
        				<p>Enter your username and password to log on:</p>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form role="form" action="/login" method="post" class="login-form">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-username">Username</label>
	                        	<input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-password">Password</label>
	                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
	                        </div>
	                        <button type="submit" class="btn">Sign in!</button>
	                    </form>
	                    
        			</div>
        			
        		</div>
        	</div>
        </div>


	<div class="modal fade in" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-signup-label" aria-hidden="true"  >
	        	<div class="modal-dialog">
	        		<div class="modal-content">
	        			
	        			<div class="modal-header">
	        				<button type="button" class="close" data-dismiss="modal">
	        					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
	        				</button>
	        				<h3 class="modal-title" id="modal-login-label">Sign up to our site</h3>
	        			</div>
	        			
	        			<div class="modal-body">
	        				
	<form id="xx" action="/signup" method="post" class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
	    <div class="col-sm-10">
	      <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="Username">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
	    <div class="col-sm-10">
	      <input type="password" name="c_password" class="form-control" id="inputPassword3" placeholder=" Confirm Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="Email" name="email" class="form-control" id="inputPassword3" placeholder="Email">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Sign up</button>
	    </div>
	  </div>
	</form>
		                    
	        			</div>
	        			
	        		</div>
	        	</div>
	        </div>
<br>
<br>
<div class=" hidden alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Enter a valid email address
</div>
		</body>
		<script type="text/javascript">
			
			$(document).ready(function()
              {

                 var validator=$("#xx").bootstrapValidator(
                    {
                      fields:{

                        email :{

                           message:"email address is required",
                           validators:{


                           	notEmpty:
                           	{
                           		message:"please provide email"
                           	}
                           }



                        }


                      }

                    }

                 	);
              });
		</script>
		</html>





